@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #14161b;
  overflow: hidden;
  font-family: Inter, system-ui, sans-serif;
  -webkit-user-select: none;
  user-select: none;
  touch-action: none;
}
